# Listen on all addresses
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

# Use volume mapped hostkeys directory
HostKey /etc/ssh/keys.d/ssh_host_ecdsa_key
HostKey /etc/ssh/keys.d/ssh_host_rsa_key
HostKey /etc/ssh/keys.d/ssh_host_ed25519_key

# Use authorized key manger (akm) to manage key-based auth
AuthorizedKeysCommand /etc/ssh/authorized_keys.sh
AuthorizedKeysCommandUser nobody
AuthorizedKeysFile none

# Lockdown the jumpbox a little
ForceCommand /sbin/nologin
GatewayPorts no
PermitTTY no
PermitTunnel no
X11Forwarding no
PasswordAuthentication no
PermitEmptyPasswords no
LoginGraceTime 30

# Other qualty-of-life options
ClientAliveCountMax 20
ClientAliveInterval 30
PrintMotd no
Banner /etc/ssh/banner
