name: Jumpbox Release

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"

jobs:
  validate:
    uses: ./.github/workflows/validate.yml
  audit:
    uses: ./.github/workflows/audit.yml
  release-jumpbox:
    name: Jumpbox Docker Release
    needs:
      - validate
      - audit
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Release Jumpbox Docker Image
        uses: ./.github/actions/release-docker.yml
        with:
          image_label: "${{ github.repository }}"
          dockerfile_path: "build/Dockerfile"
  release-fail2ban:
    name: Fail2Ban Docker Release
    needs:
      - validate
      - audit
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Release Fail2Ban Docker Image
        uses: ./.github/actions/release-docker.yml
        with:
          image_label: "${{ github.repository }}"
          dockerfile_path: "build/fail2ban.Dockerfile"
          tag_suffix: "-fail2ban"
