name: Validate

on:
  workflow_call:
  pull_request:
    branches:
      - "*"
    paths:
      - "keys/auth.json"
  push:
    branches:
      - "!main"
    tags:
      - "!v*"
    paths:
      - "keys/auth.json"

jobs:
  auth_validation:
    name: Validate Auth JSON
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      USER_REGEX: ^[a-z_]([a-z0-9_-]{0,31}|[a-z0-9_-]{0,30}\$)$
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Valid JSON Check
        run: jq . keys/auth.json > /dev/null
      - name: Valid Usernames Check
        run: |
          jq -r -c '.users[]?.username?' keys/auth.json | while IFS= read -r u; do
            if [[ ! $u =~ ${USER_REGEX} ]]; then
              echo "Username '"$u"' is not valid"
              exit 1
            fi
          done
